

.shape {
    height: 0;
    width: 0;
    border-bottom: 26px solid pink;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
}

.down {
    height: 0;
    width: 0;
    border-top: 26px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}